{% extends 'layout.html.twig' %}

{% block title %}Kullanıcılar{% endblock title %}
{% block description %}{% endblock description %}
{% block h1 %}{% endblock h1 %}

{% block content %}
	{% if app.session.get('giris') %}
		
		<div class="container">
			<div class="col-xs-12">
				<h1>Hoşgeldin {{app.session.get('giris').kullanıcı }}</h1>
				{% if app.session.get('giris').rol == 1 %}
					<div class="alert alert-success alert-dismissable">
	                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	                    <p>Admin olduğunuz için bütün ticketları görüyorsunuz</p>
                    </div>
                {% endif %}
				<p>Hoşgeldiniz anasayfaya, çıkış yapmak için tıklayın <a href="{{ path('sil') }}"> Çıkış Yap </a></p>
			</div>
		</div>
	

		{# son ticketler #}
		<div class="container">
			<div class="col-xs-12">
				<a href="{{ path("ticket.olustur") }}" class="btn btn-primary pull-right">Ticket Oluştur</a>
				
			  	{% if tickets %}
			  	{% if app.session.get('giris').rol == 0 %}<h1>Son Yolladığım Ticketlar</h1>{% else %} <h1>Son Yollanan Ticketler</h1>{% endif %}
				<div class="son-ticketler">
					
					<table class="table">
					  <thead>
					  	<tr>
					  		<td>Başlık</td>
					  		<td>Durum</td>
					  		<td>Gör</td>
					  	</tr>
					  </thead>
					  <tbody>
						 {% for ticket in tickets %}
							<tr>
								<td>{{ ticket.baslik }} </td>
								<td>{{ ticket.durum }}</td>
								<td><a href="{{ path('ticket.goster', {id: ticket.id})  }}">Gör</a></td>
							</tr>
							

						 {% endfor %}		
					  </tbody>
					</table>

				</div>
				{% endif %}
	
			</div>
		</div>



	{% else %}

		Hoşgeldin giriş yapmak için tıkla <a href="{{ path('kullanici.giris') }}"> Giriş Yap</a>

	{% endif %}


{% endblock content %}
